.grid-header {
    display: flex;
    height: 20px;
}
.grid-header div {
    width: 14.28%;
    text-align: center;
    font-size: 0.7em;
}
.grid-header-today {
    color: var(--red);
    font-weight: bold;
}
.grid-container {
    height: calc(100% - 340px);
    box-shadow: 0px 0px 5px -2px var(--red);
}
.grid-box {
    height: calc(100% - 20px);
    width: 100%;
    overflow: scroll;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.grid-loader {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.day-container {
    width: calc(14.28% - 4px);
    height: 10vh;
    margin: 2px;
    background: white;
}
.day {
    height: 100%;
    box-shadow: 0px 0px 2px 0px lightgrey;
    border-radius: 5px;
    font-size: 0.5em;
    transform: translateY(2px);
}
.day-date {
    font-size: 1.4em;
    text-align: left;
    padding-left: 2px;
    color: grey;
}
.today {
    background: black;
}
.today .day-date {
    color: white;
}
.day-selected {
    box-shadow: 0px 0px 0px 1px black;
}
.day-date div {
    display: flex;
    color: var(--red);
    font-weight: bold;
}
/* GridView */
.view-container {
    height: 200px;
    width: 100%;
    display: flex;
}
.view-container-menu {
    height: 100%;
    width: 50px;
    color: lightgrey;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.view-container-body {
    height: 100%;
    width: calc(100% - 50px);
}
.view-container-date {
    height: 20px;
    width: 100%;
    font-size: 0.7em;
    display: flex;
    align-items: center;
}
.view-container-menu-button {
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-container-menu-button.event i {
    color: var(--green);
}
.view-container-menu-button.surprise i {
    color: var(--red);
}
.view-container-menu-button.memory i {
    color: var(--purple);
}
.view-container-menu-button.view-container-menu-button-notselected i {
    color: grey
}

/* day controls */
.day-controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}
.day-button {
    width: calc(33.33% - 10px);
    display: flex;
    align-items: center;
    height: 35px;
    box-shadow: 2px 2px 4px -1px grey;
    border-radius: 20px;
}
.day-button-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 0px grey;
}
.day-button-icon i {
    color: white;
}
.day-button-event {
    background: #00ba00;
}
.day-button-surprise {
    background: var(--red);
}
.day-button-memory {
    background: #b8006c;
}
.day-button-event i {
    font-size: 0.7em;
}
.day-button-surprise i {
    font-size: 0.6em;
}
.day-button-memory i {
    font-size: 0.6em;
}
.day-button-text {
    margin-left: 5px;
    font-size: 0.7em;;
    color: grey;
}
